In [17]:
import numpy as np
import pandas as pd
from dbfread import DBF

## Data Import

In [18]:
def read_dbf(filename: str) -> pd.DataFrame:
  return pd.DataFrame(DBF(filename))

In [19]:
# MEMBERS
df_members = read_dbf('./data/members.DBF')

# EXPEDITIONS
df_exped = read_dbf('./data/exped.DBF')

# PEAKS
df_peaks = read_dbf('./data/peaks.DBF')

## Data Cleaning
### Members

In [20]:
df_members.shape

(87156, 78)

In [21]:
df_members.head()

,EXPID,MEMBID,PEAKID,MYEAR,MSEASON,FNAME,LNAME,SEX,AGE,BIRTHDATE,...,MEMBERMEMO,NECROLOGY,MSMTBID,MSMTTERM,HCN,MCHKSUM,MSMTNOTE1,MSMTNOTE2,MSMTNOTE3,DEATHRTE
0,AMAD78301,01,AMAD,1978,3,Jean Robert,Clemenson,M,0,None,...,None,None,1,4,0,2426937,NaN,NaN,NaN,NaN
1,AMAD78301,02,AMAD,1978,3,Bernard,Dufour,M,0,None,...,None,None,1,4,0,2426501,NaN,NaN,NaN,NaN
2,AMAD78301,03,AMAD,1978,3,Philippe,Gerard,M,0,None,...,None,None,1,4,0,2431569,NaN,NaN,NaN,NaN
3,AMAD78301,04,AMAD,1978,3,Eric,Lasserre,M,0,None,...,None,None,1,4,0,2426809,NaN,NaN,NaN,NaN
4,AMAD78301,05,AMAD,1978,3,Guy,Peters,M,0,None,...,None,None,1,4,0,2429215,NaN,NaN,NaN,NaN

In [24]:
df_members.columns = df_members.columns.str.lower()

78

In [ ]:
col_list = [
  # key columns
  'expid',
  'membid',
  'peakid',
  # demographic info
  'sex',
  'calcage',
  'occupation',
  # climber info
  'leader',
  'deputy',
  'bconly', # The member did not climb above base camp
  'nottobc', # The member did not reach base camp
  'support', # The member went above base camp only in a support role
  'disabled', 
  'hired', # The person was hired by the expedition
  'sherpa',
  'tibetan',
  # expedition date
  'myear',
  'mseason',
  'msuccess',
  'mdisputed', # Disputed successes are counted as successes
  'msolo',
  'traverse',
  'mski',
  'mparapente',
  'mspeed',
  'mo2used', # Oxygen was used by this member
  'mo2none', # Oxygen was not used by this member
  'mo2climb', # Oxygen was used for climbing by this member
  'mo2descent', # Oxygen was used only in descent on part of the route
  'mo2sleep', # Oxygen was used for sleeping by this member
  'mo2medical', # Oxygen was used for medical purposes by this member
  'mo2note'
  ]

In [23]:
for col in df_members.columns:
  print(col)

expid
membid
peakid
myear
mseason
fname
lname
sex
age
birthdate
yob
calcage
citizen
status
residence
occupation
leader
deputy
bconly
nottobc
support
disabled
hired
sherpa
tibetan
msuccess
mclaimed
mdisputed
msolo
mtraverse
mski
mparapente
mspeed
mhighpt
mperhighpt
msmtdate1
msmtdate2
msmtdate3
msmttime1
msmttime2
msmttime3
mroute1
mroute2
mroute3
mascent1
mascent2
mascent3
mo2used
mo2none
mo2climb
mo2descent
mo2sleep
mo2medical
mo2note
death
deathdate
deathtime
deathtype
deathhgtm
deathclass
ams
weather
injury
injurydate
injurytime
injurytype
injuryhgtm
deathnote
membermemo
necrology
msmtbid
msmtterm
hcn
mchksum
msmtnote1
msmtnote2
msmtnote3
deathrte