In [69]:
import numpy as np
import pandas as pd
from dbfread import DBF

## Data Import

In [70]:
def read_dbf(filename: str) -> pd.DataFrame:
  return pd.DataFrame(DBF(filename))

In [71]:
# MEMBERS
df_members = read_dbf('./data/members.DBF')

# EXPEDITIONS
df_exped = read_dbf('./data/exped.DBF')

# PEAKS
df_peaks = read_dbf('./data/peaks.DBF')

## Data Cleaning
### Members

In [72]:
df_members.shape

(87156, 78)

In [73]:
df_members.head()

,EXPID,MEMBID,PEAKID,MYEAR,MSEASON,FNAME,LNAME,SEX,AGE,BIRTHDATE,...,MEMBERMEMO,NECROLOGY,MSMTBID,MSMTTERM,HCN,MCHKSUM,MSMTNOTE1,MSMTNOTE2,MSMTNOTE3,DEATHRTE
0,AMAD78301,01,AMAD,1978,3,Jean Robert,Clemenson,M,0,None,...,None,None,1,4,0,2426937,NaN,NaN,NaN,NaN
1,AMAD78301,02,AMAD,1978,3,Bernard,Dufour,M,0,None,...,None,None,1,4,0,2426501,NaN,NaN,NaN,NaN
2,AMAD78301,03,AMAD,1978,3,Philippe,Gerard,M,0,None,...,None,None,1,4,0,2431569,NaN,NaN,NaN,NaN
3,AMAD78301,04,AMAD,1978,3,Eric,Lasserre,M,0,None,...,None,None,1,4,0,2426809,NaN,NaN,NaN,NaN
4,AMAD78301,05,AMAD,1978,3,Guy,Peters,M,0,None,...,None,None,1,4,0,2429215,NaN,NaN,NaN,NaN

In [74]:
df_members.columns = df_members.columns.str.lower()

In [75]:
col_list = [
  # key keys
  'expid',
  'membid',
  'peakid',
  # expedition time
  'myear',
  'mseason',
  # member details
  'sex',
  'calcage',
  'status',
  'occupation',
  'leader',
  'deputy',
  'bconly',
  'nottobc',
  'support',
  'disabled',
  'hired',
  'sherpa',
  'tibetan',
  # expedition outcome
  'msuccess',
  'mclaimed',
  'mdisputed',
  # ascent type
  'msolo',
  'mtraverse',
  'mski',
  'mparapente',
  'mspeed',  
  'mroute1',
  'mroute2',
  'mroute3',
  'mo2used',
  'mo2none',
  'mo2climb',
  'mo2descent',
  'mo2sleep',
  'mo2medical',
  'mo2note'
]

In [76]:
df_members = df_members[col_list]

In [77]:
df_members.shape

,expid,membid,peakid,myear,mseason,sex,calcage,status,occupation,leader,...,mroute1,mroute2,mroute3,mo2used,mo2none,mo2climb,mo2descent,mo2sleep,mo2medical,mo2note
0,AMAD78301,01,AMAD,1978,3,M,40,Leader,Alpine guide,True,...,0,0,0,False,True,False,False,False,False,
1,AMAD78301,02,AMAD,1978,3,M,41,Deputy Leader,Alpine guide,False,...,1,0,0,False,True,False,False,False,False,
2,AMAD78301,03,AMAD,1978,3,M,27,Climber,Professional photographer,False,...,0,0,0,False,True,False,False,False,False,
3,AMAD78301,04,AMAD,1978,3,M,40,Exp Doctor,Physician,False,...,1,0,0,False,True,False,False,False,False,
4,AMAD78301,05,AMAD,1978,3,M,34,Climber,Alpine guide,False,...,0,0,0,False,True,False,False,False,False,

In [79]:
df_members = df_members.loc[
  (df_members.bconly == False) &
  (df_members.nottobc == False) &
  (df_members.support == False) &
  (df_members.disabled == False) &
  (df_members.hired == False) &
  (df_members.mtraverse == False) &
  (df_members.mski == False) &
  (df_members.mparapente == False), :]

In [80]:
df_members.shape

(60836, 36)